<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.dao.MemberMapper">

    <sql id="tableName">t_member</sql>

    <select id="getMemberById" parameterType="String" resultType="member">
        SELECT * from
        <include refid="tableName"/>
        where id=#{id}
    </select>


    <select id="getMemberByUsername" parameterType="string" resultMap="memberResultMapper">
        select id,name,username,gender,info_id,password from
        <include refid="tableName"/>
        where username=#{username}
    </select>


    <!--如果使用association的select则必须在查询语句中查询出关联的id,否则关联查询不出来-->
    <resultMap id="memberResultMapper" type="entity.member.Member" autoMapping="true">
        <id property="id" column="id"/>
        <association property="info" column="info_id"
                     select="com.study.dao.InfoMapper.getById"/>
    </resultMap>

</mapper>